<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur10e" >
  <!-- Arguments-->
  <xacro:arg name="gz_sim" default="false"/>
  <xacro:arg name="real_robot" default="false"/>

  <!-- Setup files -->
  <xacro:arg name="controller_file" default="$(find prl_ur10e_control)/config/ur10e_controller.yaml"/>  
  <xacro:property name="setup_file" value="${xacro.load_yaml('$(find prl_ur10e_robot_configuration)/config/standard_setup.yaml')}"/> 

  <!-- ur10e arm -->
  <xacro:include filename="$(find prl_ur10e_description)/urdf/ur10e_lone_arm.urdf.xacro"/>

  <!-- Global frame -->
  <link name="prl_ur10e_base"/>

  <!-- Base -->
  <material name="Blue">
    <color rgba="${0/255} ${30/255} ${70/255} 1.0"/>
  </material>

  <link name="table_link">
    <visual>
      <geometry>
        <mesh filename="file://$(find prl_ur10e_description)/model/UR10e_stand.stl"/>
      </geometry>
      <material name="Blue"/>
    </visual> 
    <collision>
      <geometry>
        <mesh filename="file://$(find prl_ur10e_description)/model/UR10e_stand.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="table" type="fixed">
    <parent link="base_link"/>
    <child link = "table_link"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>

  <!-- left wall -->
  <!-- <link name="leftwall_link">
    <visual>
      <geometry>
        <box size="0.75 0.75 0.82"/>
      </geometry>
      <material name="grey"><color rgba="0.8 0.8 0.8 1"/></material>
    </visual>
    <collision>
      <geometry>
        <box size="0.75 0.75 0.82"/>
      </geometry>
    </collision>
  </link>

  <joint name="leftwall_fix" type="fixed">
    <parent link="prl_ur10e_base"/>
    <child link = "leftwall_link"/>
    <origin xyz="0 0 -0.41" rpy="0.0 0.0 0.0"/>
  </joint> -->

  
  <!-- Lone Arm -->
  <xacro:property name="arm" value="${setup_file.get('arm')}"/>
  <xacro:arm prefix="ur10_"
                 parent="prl_ur10e_base"
                 pose="${arm['arm_pose']}"
                 sensors="false"
                 gripper="${arm.get('gripper')}"
                 gripper_pose="${arm.get('gripper_pose')}"
                 gz_sim="$(arg gz_sim)"
                 joint_limits_parameters_file="$(find prl_ur10e_robot_configuration)/config/${arm.get('arm_joint_limits')}"
                 kinematics_parameters_file="$(find prl_ur10e_robot_configuration)/config/${arm.get('arm_kinematics')}"
                 network = "${arm.get('network')}"
                 />

  <!-- Gazebosim plugin-->
  <xacro:if value="$(arg gz_sim)">
    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(arg controller_file)</parameters>
        </plugin>
    </gazebo>
  </xacro:if>

  <!-- Linking Arms to world -->
  <link name="base_link" />
  <joint name="base_2_ur" type="fixed">
    <parent link="base_link" />
    <child link="prl_ur10e_base" />
    <origin xyz="0 0 0.82" rpy="0 0 0" />
  </joint> 

</robot>